*,
*::before,
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    background-color: grey;
    font-family: 'Averia Serif Libre', serif;
}
button {
    cursor: pointer;
    background: none;
    border: none;
}
.card {
    border: 5px solid red;
    width:600px;
    background-color: black;
    color: white;
    padding: 16px;
    border-radius: 10px;
    margin: 100px auto 0;

}
.name{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: grey;

}

.title{
    margin: 16px 0 ;
    text-transform: capitalize;
    letter-spacing: 1.5;

}

.description{
    max-width: 60ch;
    color: grey;

}

.btn{
    background-color: greenyellow;
    color: black;
    padding: 8px 14px;
    border-radius: 10px;
    font-weight: 800;
    margin-top: 12px;

}